<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="DEFAULT_LOG_FILE_HOME" value="D:/javaweb"/>  
	<property name="URL_LOG_FILE_HOME" value="D:/url_log"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
	 	<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        	<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <appender name="DEFAULT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <!--<onMismatch>DENY</onMismatch>-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${DEFAULT_LOG_FILE_HOME}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>1</maxHistory>
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
	
	<appender name="URL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <!--<onMismatch>DENY</onMismatch>-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${URL_LOG_FILE_HOME}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>1</maxHistory>
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        	<pattern>%msg%n</pattern>
            <!--<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{50} - %msg%n</pattern>-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <springProfile name="dev">
	    <root level="INFO" >
	    	<appender-ref ref="CONSOLE"/>
	        <appender-ref ref="DEFAULT_LOG"/>
	    </root>
	    <logger name="urlLog" level="INFO">
            <appender-ref ref="URL_LOG"/>
        </logger>
    </springProfile>
    
 </configuration>