<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javaweb.web.dao.ds1.ModuleDao">

	<sql id="selectModule" >
		module_id as moduleId,module_name as moduleName,page_url as pageUrl,api_url as apiUrl,parent_id as parentId,
		fcode,level,orders,module_type as moduleType,alias,parent_alias as parentAlias,remark,icon,
		create_date as createDate,creator,update_date as updateDate,updater,del_flag as delFlag
	</sql>
	
	<select id="getUserRoleModule" parameterType="Map" resultType="com.javaweb.web.po.Module">
		<!-- 若test比较的是字符串，①将外层变为单引号，内层变为双引号；②单引号的值.toString() -->
		<if test="adminFlag==true"><!-- 超级管理员 -->
			SELECT <include refid="selectModule"></include> from module WHERE del_flag = 0 ORDER BY level ASC,orders ASC
		</if>
		<if test="adminFlag==false"><!-- 非超级管理员 -->
			SELECT <include refid="selectModule"></include> from module WHERE module_id
			in(
				SELECT module_id from role_module where role_id in(
					select role_id from role where role_id in(
						select role_id from user_role where user_id = #{userId} 
					) and del_flag = 0
				)
			) and del_flag = 0  
			ORDER BY level ASC,orders ASC
		</if>
	</select>
	
	<select id="moduleList" parameterType="com.javaweb.web.eo.module.ModuleListRequest" resultType="com.javaweb.web.eo.module.ModuleListResponse">
		select m.module_id as moduleId,m.module_name as moduleName,m.page_url as pageUrl,
		m.api_url as apiUrl,m.module_type as moduleType,m.alias,m.create_date as createDate
		from module m
		<where>
			m.del_flag = 0
			<if test="moduleName != null and moduleName != ''">and m.module_name like CONCAT('%',#{moduleName},'%')</if>
			<if test="pageUrl != null and pageUrl != ''">and m.page_url like CONCAT('%',#{pageUrl},'%')</if>
			<if test="apiUrl != null and apiUrl != ''">and m.page_url like CONCAT('%',#{apiUrl},'%')</if>
			<if test='moduleType == "1" or moduleType == "2"'>and m.module_type = ${moduleType}</if>
			<if test="alias != null and alias != ''">and m.alias like CONCAT('%',#{alias},'%')</if>
			<if test="createStartDate != null and createStartDate != ''">and m.create_date &gt;=#{createStartDate}</if>
			<if test="createEndDate != null and createEndDate != ''">and m.create_date &lt;=#{createEndDate}</if>
		</where>
		order by m.level asc,m.orders asc
		limit ${(currentPage-1)*pageSize},${pageSize}
	</select>
	
	<select id="moduleListCount" parameterType="com.javaweb.web.eo.module.ModuleListRequest" resultType="java.lang.Long">
		select count(1) from module m
		<where>
			m.del_flag = 0
			<if test="moduleName != null and moduleName != ''">and m.module_name like CONCAT('%',#{moduleName},'%')</if>
			<if test="pageUrl != null and pageUrl != ''">and m.page_url like CONCAT('%',#{pageUrl},'%')</if>
			<if test="apiUrl != null and apiUrl != ''">and m.page_url like CONCAT('%',#{apiUrl},'%')</if>
			<if test='moduleType == "1" or moduleType == "2"'>and m.module_type = ${moduleType}</if>
			<if test="alias != null and alias != ''">and m.alias like CONCAT('%',#{alias},'%')</if>
			<if test="createStartDate != null and createStartDate != ''">and m.create_date &gt;=#{createStartDate}</if>
			<if test="createEndDate != null and createEndDate != ''">and m.create_date &lt;=#{createEndDate}</if>
		</where>
	</select>
	
	<delete id="moduleDelete" parameterType="java.lang.String">
		<!-- 删除角色模块关联 -->
		delete from role_module where module_id = #{_parameter};
		<!-- 删除模块 -->
		delete from module where module_id = #{_parameter};
	</delete>
	
</mapper>