<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javaweb.web.dao.ds1.UserDao">

	<sql id="selectUser" >
		user_id as userId,user_name as userName,password,person_name as personName,email,phone,
		portrait,parent_id as parentId,fcode,level,remark,status,create_date as createDate,creator,
		update_date as updateDate,updater,del_flag as delFlag
	</sql>
	
	<select id="userLogin" parameterType="com.javaweb.web.eo.UserLogin" resultType="com.javaweb.web.po.User">
		select <include refid="selectUser"></include> from user where user_name = #{userName} and password = #{password} and del_flag = 0 limit 1
	</select>
	
</mapper>