<h5 style="color:red;margin-top:1%;margin-left:1%">接口名称：{{url}}，可修改的返回的实体类字段：{{entity}}</h5>
<hr/>
<div style="margin-left:1%">
  用户名<input type="text" style="height:35px;" placeholder="请输入用户名" [(ngModel)]="interfacesUserRoleDataPermissionResponse_user.userName">
  <button type="button" class="btn btn-primary" style="margin-left:1%;" (click)="interfacesUserSearch(1)">查询</button>
  <button type="button" class="btn btn-info" style="margin-left:1%;" (click)="resetUser()">重置</button>
</div>
<div class="col col-xl-12 col-lg-12" style="margin-top:10px">
  <div class="card mb-3">
    <div class="card-body table table-hover">
      <table class="table">
        <thead>
        <tr class="text-center">
          <th>序号</th>
          <th>用户ID</th>
          <th>用户名</th>
          <th>排除字段</th>
        </tr>
        </thead>
        <tbody *ngIf="resultPage_user.data==resultPage_user.dataLoading">
        <tr class="text-center">
          <td colspan=6>数据获取中...</td>
        </tr>
        </tbody>
        <tbody *ngIf="resultPage_user.data==null">
        <tr class="text-center">
          <td colspan=6>无数据</td>
        </tr>
        </tbody>
        <tbody *ngIf="resultPage_user.data!=null&&resultPage_user.data!=resultPage_user.dataLoading">
        <tr *ngFor="let eachData of resultPage_user.data;let xh=index" class="text-center">
          <td>{{xh+1}}</td>
          <td>{{eachData.userId}}</td>
          <td>{{eachData.userName}}</td>
          <td><input value="{{eachData.excludeField}}" [(ngModel)]="eachData.excludeField"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="resultPage_user.data!=null&&resultPage_user.data!=resultPage_user.dataLoading">
      <div style="float:right;padding:0px 1em 1ex 0em;">
        <span style="margin-right:10px;"><a *ngIf="resultPage_user.currentPage>1" (click)="interfacesUserSearch(1)" class="btn btn-info">首页</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage_user.currentPage>1" (click)="interfacesUserSearch(resultPage_user.currentPage-1)" class="btn btn-info">上一页</a></span>
        <span style="margin-right:10px;"style="margin-right:10px;" *ngFor="let eachPage of resultPage_user.pageList"><a (click)="interfacesUserSearch(eachPage)" class="btn btn-info" [ngClass]="{'active':(resultPage_user.currentPage==eachPage)}">{{eachPage}}</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage_user.totalPage>resultPage_user.currentPage" (click)="interfacesUserSearch(resultPage_user.currentPage+1)" class="btn btn-info">下一页</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage_user.totalPage>resultPage_user.currentPage" (click)="interfacesUserSearch(resultPage_user.totalPage)" class="btn btn-info">末页</a></span>
        <span *ngIf="resultPage_user.totalPage>=resultPage_user.currentPage">当前第{{resultPage_user.currentPage}}/{{resultPage_user.totalPage}}页，共{{resultPage_user.totalSize}}条</span>
      </div>
    </div>
  </div>
</div>

<div style="margin-left:1%">
  角色名<input type="text" style="height:35px;" placeholder="请输入角色名" [(ngModel)]="interfacesUserRoleDataPermissionResponse_role.roleName">
  <button type="button" class="btn btn-primary" style="margin-left:1%;" (click)="interfacesRoleSearch(1)">查询</button>
  <button type="button" class="btn btn-info" style="margin-left:1%;" (click)="resetRole()">重置</button>
</div>
<div class="col col-xl-12 col-lg-12" style="margin-top:10px">
  <div class="card mb-3">
    <div class="card-body table table-hover">
      <table class="table">
        <thead>
        <tr class="text-center">
          <th>序号</th>
          <th>角色ID</th>
          <th>角色名</th>
          <th>排除字段</th>
        </tr>
        </thead>
        <tbody *ngIf="resultPage_role.data==resultPage_role.dataLoading">
        <tr class="text-center">
          <td colspan=6>数据获取中...</td>
        </tr>
        </tbody>
        <tbody *ngIf="resultPage_role.data==null">
        <tr class="text-center">
          <td colspan=6>无数据</td>
        </tr>
        </tbody>
        <tbody *ngIf="resultPage_role.data!=null&&resultPage_role.data!=resultPage_role.dataLoading">
        <tr *ngFor="let eachData2 of resultPage_role.data;let xh=index" class="text-center">
          <td>{{xh+1}}</td>
          <td>{{eachData2.roleId}}</td>
          <td>{{eachData2.roleName}}</td>
          <td><input value="{{eachData2.excludeField}}" [(ngModel)]="eachData2.excludeField"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="resultPage_role.data!=null&&resultPage_role.data!=resultPage_role.dataLoading">
      <div style="float:right;padding:0px 1em 1ex 0em;">
        <span style="margin-right:10px;"><a *ngIf="resultPage_role.currentPage>1" (click)="interfacesRoleSearch(1)" class="btn btn-info">首页</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage_role.currentPage>1" (click)="interfacesRoleSearch(resultPage_role.currentPage-1)" class="btn btn-info">上一页</a></span>
        <span style="margin-right:10px;"style="margin-right:10px;" *ngFor="let eachPage of resultPage_role.pageList"><a (click)="interfacesRoleSearch(eachPage)" class="btn btn-info" [ngClass]="{'active':(resultPage_role.currentPage==eachPage)}">{{eachPage}}</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage_role.totalPage>resultPage_role.currentPage" (click)="interfacesRoleSearch(resultPage_role.currentPage+1)" class="btn btn-info">下一页</a></span>
        <span style="margin-right:10px;"><a *ngIf="resultPage_role.totalPage>resultPage_role.currentPage" (click)="interfacesRoleSearch(resultPage_role.totalPage)" class="btn btn-info">末页</a></span>
        <span *ngIf="resultPage_role.totalPage>=resultPage_role.currentPage">当前第{{resultPage_role.currentPage}}/{{resultPage_role.totalPage}}页，共{{resultPage_role.totalSize}}条</span>
      </div>
    </div>
  </div>
</div>
<div style="margin-top:10px;margin-left:1%">
  <button type="button" (click)="dataPermissionAssignment()" class="btn btn-primary" style="margin-left:1%;">分配</button>
  <button type="button" (click)="dataPermissionAssignmentBack()" class="btn btn-primary" style="margin-left:1%;">返回</button>
</div>
