<div class="row">
    <div class="col-lg-12">
        <h3>系统管理-模块管理-新增模块</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">模块名称</span>
            </div>
            <input [(ngModel)]="menuAdd.moduleName" type="text" class="form-control" placeholder="请输入模块名称">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">前端页面跳转URL</span>
            </div>
            <input [(ngModel)]="menuAdd.pageUrl" type="text" class="form-control" placeholder="请输入前端页面跳转URL">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">请求后端API（多个用逗号隔开）</span>
            </div>
            <input [(ngModel)]="menuAdd.apiUrl" type="text" class="form-control" placeholder="请输入请求后端API">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">上级模块</span>
            </div>
            <select class="form-control" [(ngModel)]="menuAdd.parentId">
                <option *ngFor="let i of showList" [value]="i.moduleId">{{i.moduleName}}</option>
            </select>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">模块类型</span>
            </div>
            <select class="form-control" [(ngModel)]="menuAdd.moduleType" (change)="moduleTypeChange()">
                <option *ngFor="let i of moduleTypeList" [value]="i.moduleTypeKey">{{i.moduleTypeValue}}</option>
            </select>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">别名</span>
            </div>
            <input [(ngModel)]="menuAdd.alias" type="text" class="form-control" placeholder="请输入别名">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">备注</span>
            </div>
            <input [(ngModel)]="menuAdd.remark" type="text" class="form-control" placeholder="请输入备注">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">图标</span>
            </div>
            <input [(ngModel)]="menuAdd.icon" type="text" class="form-control" placeholder="请输入图标" [disabled]="disableStyle">
        </div>
        <div style="float:right;">
            <button class="btn" (click)="cancel()">取消</button>
            <button class="btn" (click)="reset()">重置</button>
            <button class="btn btn-success" (click)="save()">保存</button>
        </div>
    </div>
</div>



