<div>
  <div class="form-group">
    <label>用户名</label>
    <input disabled type="text" class="form-control" [(ngModel)]="userDetailResponse.userName">
  </div>
  <div class="form-group">
    <label>用户姓名</label>
    <input disabled type="text" class="form-control" [(ngModel)]="userDetailResponse.personName">
  </div>
  <div class="form-group">
    <label>邮箱</label>
    <input disabled type="text" class="form-control" [(ngModel)]="userDetailResponse.email">
  </div>
  <div class="form-group">
    <label>手机号</label>
    <input disabled type="text" class="form-control" [(ngModel)]="userDetailResponse.phone">
  </div>
  <div class="form-group">
    <label>用户状态</label>
    <input disabled type="text" class="form-control" value="正常" *ngIf="userDetailResponse.status==0">
    <input disabled type="text" class="form-control" value="禁用" *ngIf="userDetailResponse.status==1">
    <input disabled type="text" class="form-control" value="异常" *ngIf="userDetailResponse.status!=0 && userDetailResponse.status!=1">
  </div>
  <div class="form-group">
    <label>备注</label>
    <input disabled type="text" class="form-control" [(ngModel)]="userDetailResponse.remark">
  </div>
  <div class="form-group">
    <label>头像</label>
    <img id='img' authSrc='' class="form-control" style="height:200px;width: 200px;"/>
  </div>
  <button type="button" (click)="userDetailBack()" class="btn btn-primary" style="margin-left:1%;">返回</button>
</div>
