<div class="row">
    <div class="col-lg-12">
        <h3>系统管理-角色管理-角色列表</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">角色名称</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入角色名" [(ngModel)]="roleList.roleName">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group input-group datepicker-input">
            <div class="input-group-prepend">
                <span class="input-group-text">开始日期</span>
            </div>
            <input class="form-control" readonly="readonly" placeholder="请选择开始日期" [(ngModel)]="roleList.createStartDate" ngbDatepicker #d1="ngbDatepicker">
            <button class="input-group-addon" (click)="d1.toggle()" type="button">
                <span class="fa fa-calendar"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group input-group datepicker-input">
            <div class="input-group-prepend">
                <span class="input-group-text">结束日期</span>
            </div>
            <input class="form-control" readonly="readonly" placeholder="请选择结束日期" [(ngModel)]="roleList.createEndDate" ngbDatepicker #d2="ngbDatepicker">
            <button class="input-group-addon" (click)="d2.toggle()" type="button">
                <span class="fa fa-calendar"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-3">
        <button class="btn" (click)="roleSearch(1)">查询</button>
        <button class="btn" (click)="reset()">重置</button>
        <button *ngIf="roleAddZone" (click)="addRole()" class="btn btn-success">新增</button>
    </div>
</div>
<hr>
<div class="row" style="margin-top:30px;">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-body table table-hover">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>序号</th>
                        <th>角色名称</th>
                        <th>注册日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="resultPage.data==resultPage.dataLoading">
                    <tr class="text-center">
                        <td colspan=6>数据获取中...</td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="resultPage.data==null">
                    <tr class="text-center">
                        <td colspan=6>无数据</td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="resultPage.data!=null&&resultPage.data!=resultPage.dataLoading">
                    <tr *ngFor="let eachData of resultPage.data;let xh=index" class="text-center">
                        <td>{{(xh+1)+(resultPage.currentPage-1)*resultPage.pageSize}}</td>
                        <td>{{eachData.roleName}}</td>
                        <td>{{eachData.createDate}}</td>
                        <td>
                            <button *ngIf="roleDeleteZone" class="btn btn-sm btn-danger" (click)="deleteRole(eachData.roleId,content)">删除角色</button>
                            <button *ngIf="roleModifyZone" class="btn btn-sm btn-warning" (click)="modifyRole(eachData.roleId)">修改角色</button>
                            <button *ngIf="roleDetailZone" class="btn btn-sm btn-info" (click)="roleDetail(eachData.roleId)">角色详情</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="resultPage.data!=null&&resultPage.data!=resultPage.dataLoading">
                <div style="float:right;padding:0px 1em 1ex 0em;">
                    <span><a *ngIf="resultPage.currentPage>1" (click)="roleSearch(1)" class="btn btn-info">首页</a></span>
                    <span><a *ngIf="resultPage.currentPage>1" (click)="roleSearch(resultPage.currentPage-1)" class="btn btn-info">上一页</a></span>
                    <span *ngFor="let eachPage of resultPage.pageList"> <a (click)="roleSearch(eachPage)" class="btn btn-info" [ngClass]="{'active':(resultPage.currentPage==eachPage)}">{{eachPage}}</a></span>
                    <span><a *ngIf="resultPage.totalPage>resultPage.currentPage" (click)="roleSearch(resultPage.currentPage+1)" class="btn btn-info">下一页</a></span>
                    <span><a *ngIf="resultPage.totalPage>resultPage.currentPage" (click)="roleSearch(resultPage.totalPage)" class="btn btn-info">末页</a></span>
                    <span *ngIf="resultPage.totalPage>=resultPage.currentPage">&nbsp;当前第{{resultPage.currentPage}}/{{resultPage.totalPage}}页，共{{resultPage.totalSize}}条</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal对话框组件 -->
<ng-template #content let-c1="dismiss" let-c2="close">
    <div class="modal-header">
        <h4 class="modal-title">删除角色</h4>
        <button type="button" class="close" aria-label="Close" (click)="c1('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>您确定要删除该角色吗？</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c2(true)">确定</button>
        <button type="button" class="btn btn-secondary" (click)="c2(false)">取消</button>
    </div>
</ng-template>
