*{
  margin: 0px;
  padding: 0px;
}
.main{
  width: 100%;
  height: auto;
  margin: auto;
}
.head{
  width: 100%;
  height: auto;
}
.title{
  background-color: #99cdff;
  list-style-type: none;
  width: 100%;
  height: 33px;
  margin: auto;

}
.weekend{
  float: left;
  border: 1px solid #000000;
  margin-left: 0.63%;
  margin-right: 0.5%;
  width: 13.1%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #ff6666;
  margin-top: 4px;
}
.weekday{
  float: left;
  border: 1px solid #000000;
  margin-left: 0.63%;
  margin-right: 0.5%;
  width: 13.1%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #878b8b;
  margin-top: 4px;
}
.banner{
  width: 100%;
  height: auto;
  margin-top: 25px;
}
.content{
  display: inline-block;
  width: 100%;
  //height: auto;
  height: 616px;
  background-color: #99cdff;
  list-style-type: none;
}
.dateEnd {
  float: left;
  border: 1px solid #000000;
  margin-left: 0.63%;
  margin-right: 0.5%;
  width: 13.1%;
  height: 98px;
  text-align: center;
  margin-top: 4px;
  background-color: #ff8987;
}
.dateDay {
  float: left;
  border: 1px solid #000000;
  margin-left: 0.63%;
  margin-right: 0.5%;
  width: 13.1%;
  height: 98px;
  text-align: center;
  margin-top: 4px;
  background-color: #a2a1ff;
}
.hollyDay {
  float: left;
  border: 1px solid #000000;
  margin-left: 0.63%;
  margin-right: 0.5%;
  width: 13.1%;
  height: 98px;
  text-align: center;
  margin-top: 4px;
  background-color: #f0ad4e;
}
.restDay {
  float: left;
  border: 1px solid #000000;
  margin-left: 0.63%;
  margin-right: 0.5%;
  width: 13.1%;
  height: 98px;
  text-align: center;
  margin-top: 4px;
  background-color: #5CB85C;
}
td{
  width: 7%;
  height: 60px;
  border-top: 1px solid #000000;
}
.caption {
  background-color: #878b8b;
}
caption{
  text-align:center;
  color:#000
}
#scheduleId li:hover{
  box-shadow: 0 0 3px 3px #2e6ca9;
}
.triangle-left{
  width: 5px;
  border-top: 7px solid transparent;
  border-right: 14px solid #3a93e9;
  border-bottom: 7px solid transparent;
  float: left;
  margin-top:10px;
}
.triangle-right{
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-left: 14px solid #3a93e9;
  border-bottom: 7px solid transparent;
  float: left;
  margin-top:10px;
}
.show-date{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:5px;
}
