<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javaweb.web.dao.ds1.DictionaryDao">

	<sql id="selectDictionary" >
		id,parent_id as parentId,data_type as dataType,key_code as keyCode,value_code as valueCode,category,sort,means,remark,
		create_date as createDate,creator,update_date as updateDate,updater,del_flag as delFlag
	</sql>
	
	<select id="getDictionary" parameterType="com.javaweb.web.po.Dictionary" resultType="com.javaweb.web.po.Dictionary">
		select <include refid="selectDictionary"></include> from sys_dictionary where del_flag = 0
		<if test="id != null and id != ''">and id = #{id}</if>
		<if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>
		<if test="dataType != null and dataType != ''">and data_type = #{dataType}</if>
		<if test="keyCode != null and keyCode != ''">and key_code = #{keyCode}</if>
		<if test="valueCode != null and valueCode != ''">and value_code = #{valueCode}</if>
		<if test="category != null and category != ''">and category = #{category}</if>
		<if test="sort != null and sort != ''">and sort = #{sort}</if>
		<if test="means != null and means != ''">and means = #{means}</if>
		<if test="remark != null and remark != ''">and remark = #{remark}</if>
		order by sort asc
	</select>
	
	<select id="dictionaryList" parameterType="com.javaweb.web.eo.dictionary.DictionaryListRequest" resultType="com.javaweb.web.po.Dictionary">
		select <include refid="selectDictionary"></include> from sys_dictionary where del_flag = 0
		<if test="dataType != null and dataType != ''">and data_type like CONCAT('%',#{dataType},'%')</if>
		<if test="keyCode != null and keyCode != ''">and key_code like CONCAT('%',#{keyCode},'%')</if>
		<if test="means != null and means != ''">and means like CONCAT('%',#{means},'%')</if>
		order by data_type asc,value_code asc
		limit ${(currentPage-1)*pageSize},${pageSize}
	</select>
	
	<select id="dictionaryCount" parameterType="com.javaweb.web.eo.dictionary.DictionaryListRequest" resultType="java.lang.Long">
		select count(1) from sys_dictionary where del_flag = 0
		<if test="dataType != null and dataType != ''">and data_type like CONCAT('%',#{dataType},'%')</if>
		<if test="keyCode != null and keyCode != ''">and key_code like CONCAT('%',#{keyCode},'%')</if>
		<if test="means != null and means != ''">and means like CONCAT('%',#{means},'%')</if>
	</select>
	
</mapper>