.homeStyle{

}

.topZone{
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.sideBarZone{
    width: 10%;
    height: 860px;
    float: left;
    background-color: aquamarine;
}

.centeralZone{
    text-align: center;
    height: 860px;
    width: 90%;
    float: right;
    background-color: cadetblue;
}