<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javaweb.dao.rbac.UserDao">

	<sql id="selectUser" >
		user_id as userId,user_name as userName,password,person_name as personName,email,phone,
		portrait,parent_id as parentId,fcode,level,remark,status,create_date as createDate,creator,
		update_date as updateDate,updater,del_flag as delFlag
	</sql>
	
	<resultMap id="userMap" type="com.javaweb.dataobject.po.User">  
			<result column="user_id" property="userId"/>
			<result column="user_name" property="userName"/>
			<result column="password" property="password"/>
			<result column="person_name" property="personName"/>
			<result column="email" property="email"/>
			<result column="phone" property="phone"/>
			<result column="portrait" property="portrait"/>
			<result column="parent_id" property="parentId"/>
			<result column="fcode" property="fcode"/>
			<result column="level" property="level"/>
			<result column="remark" property="remark"/>
			<result column="status" property="status"/>
			<result column="create_date" property="createDate"/>
			<result column="creator" property="creator"/>
			<result column="update_date" property="updateDate"/>
			<result column="updater" property="updater"/>
			<result column="del_flag" property="delFlag"/>
  	</resultMap> 
  	
  	<resultMap id="getTotalCount" type="Long">   
    		<result column="total" property="total"/>  
  	</resultMap> 

	<insert id="createUser" parameterType="com.javaweb.dataobject.po.User">
		insert into user(user_id,user_name,password,person_name,email,phone,portrait,
		parent_id,fcode,level,remark,status,create_date,creator,update_date,updater,del_flag)
		values(#{userId},#{userName},#{password},#{personName},#{email},#{phone},#{portrait},
		#{parentId},#{fcode},${level},#{remark},${status},#{createDate},#{creator},null,null,${delFlag})
	</insert>
	
	<select id="getUserByUserId" parameterType="java.lang.String" resultType="com.javaweb.dataobject.po.User">
		select <include refid="selectUser"></include> from user where user_id = #{_parameter} and del_flag = 0
	</select>
	
	<select id="getUserByUsernameAndPassword" parameterType="Map" resultType="com.javaweb.dataobject.po.User">
		select <include refid="selectUser"></include> from user where user_name = #{userName} and password = #{password} and del_flag = 0 limit 1
	</select>
	
	<select id="getUserRoleModule" parameterType="Map" resultType="com.javaweb.dataobject.eo.UserRoleModule">
		<!-- 若test比较的是字符串，①将外层变为单引号，内层变为双引号；②单引号的值.toString() -->
		<if test="adminFlag==1"><!-- 超级管理员 -->
			SELECT module_id as moduleId,module_name as moduleName,page_url as pageUrl,api_url as apiUrl,module_type as moduleType,parent_id as parentId,icon from module WHERE del_flag = 0 ORDER BY level ASC,orders ASC
		</if>
		<if test="adminFlag==0"><!-- 非超级管理员 -->
			SELECT module_id as moduleId,module_name as moduleName,page_url as pageUrl,api_url as apiUrl,module_type as moduleType,parent_id as parentId,icon from module WHERE module_id
			in(
				SELECT rm.module_id from role_module rm
				WHERE rm.role_id in(
					SELECT ur.role_id from role r,user_role ur
					WHERE ur.user_id = #{userId} 
					AND r.role_id = ur.role_id
				)
			) and del_flag = 0  
			ORDER BY level ASC,orders ASC
		</if>
	</select>

	<select id="listUser" parameterType="com.javaweb.dataobject.eo.UserSearchCondition" resultMap="userMap,getTotalCount">
		SELECT SQL_CALC_FOUND_ROWS user_id as userId,user_name as userName,person_name as personName,create_date as createDate,
		(
			select GROUP_CONCAT(r.role_name) from role r where r.role_id in
			(select ur.role_id from user_role ur where ur.user_id = u.user_id) GROUP BY r.role_name
		) as roleName
		from user u
		<where>
			u.del_flag = 0 
			and u.level > (SELECT IFNULL((select u2.level from user u2 where u2.user_id = #{userId}),1))		
			<if test="userName!=null and userName!=''">
				and u.user_name like CONCAT('%',#{userName},'%')
			</if>
			<if test="startDate!=null and startDate!=''">
				and u.create_date &gt;= #{startDate}
			</if>
			<if test="endDate!=null and endDate!=''">
				and u.create_date &lt;= #{endDate}
			</if>
		</where>
		limit ${currentStart},${currentSize};
      	SELECT FOUND_ROWS() as total;
	</select>
	
</mapper>