<hr>
<!-- 示例1 -->
<div>
    <span class="demoTitle" #demo1_title>示例1：</span>
    <input type="text" placeholder="请输入值" #demo1_inputValue/>
    <button (click)="demo1_showInputValue(demo1_inputValue)">点我显示输入框的值</button>
    <span>{{demo1_title.textContent}}</span>的联动值为：<span class="demoValue">{{demo1_inputValueShow}}</span>
</div>
<hr>
<!-- 示例2 -->
<div>
    <span class="demoTitle">示例2：</span>
    数组[11,12,13]采用forEach求和为：<span class="demoValue">{{demo2_forEachRet}}</span>，
    数组[11,12,13]采用map每个值+10为：<span class="demoValue">{{demo2_forMap}}</span>，
    输出示例1：<span class="demoValue">{{demo2_forOutput}}</span>，
    输出示例2：<span class="demoValue" ngNonBindable>{{demo2_forOutput}}</span>
</div>
<hr>
<!-- 示例3 -->
<div>
    <span class="demoTitle">示例3：</span>
    *ngIf最好不要调用方法，不然该方法会被调用2次
    <span *ngIf="demo3_ngIf()"></span>
</div>
<hr>
<h1>待续：159/683[pdf]</h1>
