<hr>
<div><h1 style="text-align:center">Angular示例</h1></div>
<!-- 示例1 -->
<div>
    <span class="demoTitle" #demo1_title>示例1：</span>
    <input type="text" placeholder="请输入值" #demo1_inputValue/>
    <button (click)="angular_demo1_showInputValue(demo1_inputValue)">点我显示输入框的值</button>
    <span>{{demo1_title.textContent}}</span>的联动值为：<span class="demoValue">{{demo1_inputValueShow}}</span>
</div>
<hr>
<!-- 示例2 -->
<div>
    <span class="demoTitle">示例2：</span>
    数组[11,12,13]采用forEach求和为：<span class="demoValue">{{demo2_forEachRet}}</span>，
    数组[11,12,13]采用map每个值+10为：<span class="demoValue">{{demo2_forMap}}</span>，
    输出示例1：<span class="demoValue">{{demo2_forOutput}}</span>，
    输出示例2：<span class="demoValue" ngNonBindable>{{demo2_forOutput}}</span>
</div>
<hr>
<!-- 示例3 -->
<div>
    <span class="demoTitle">示例3：</span>
    *ngIf最好不要调用方法，不然该方法会被调用2次，
    <span *ngIf="true">【*ngIf="angular_demo3_ngIf()"】为错误用法</span>
</div>
<hr>
<!-- 示例4 -->
<div>
    <span class="demoTitle">示例4：</span>
    ngSwitch:
    <span [ngSwitch]="angular_demo4_switchValue">
        <span *ngSwitchCase="'A'" class="demoValue">值是A</span>
        <span *ngSwitchCase="'B'" class="demoValue">值是B</span>
        <span *ngSwitchDefault class="demoValue">值是其它</span>
    </span>
</div>
<hr>
<div><h1 style="text-align:center">RxJS示例</h1></div>
基本概念简单示意图：<img src="../../assets/images/rxjs_demo.png">
