<div class="row">
    <div class="col-lg-12">
        <h3>系统管理-用户管理-用户列表</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">用户名</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入用户名" [(ngModel)]="userList.userName">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">用户姓名</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入用户姓名" [(ngModel)]="userList.personName">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group input-group datepicker-input">
            <div class="input-group-prepend">
                <span class="input-group-text">开始日期</span>
            </div>
            <input class="form-control" readonly="readonly" placeholder="请选择开始日期" [(ngModel)]="userList.createStartDate" ngbDatepicker #d1="ngbDatepicker">
            <button class="input-group-addon" (click)="d1.toggle()" type="button">
                <span class="fa fa-calendar"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group input-group datepicker-input">
            <div class="input-group-prepend">
                <span class="input-group-text">结束日期</span>
            </div>
            <input class="form-control" readonly="readonly" placeholder="请选择结束日期" [(ngModel)]="userList.createEndDate" ngbDatepicker #d2="ngbDatepicker">
            <button class="input-group-addon" (click)="d2.toggle()" type="button">
                <span class="fa fa-calendar"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-3">
        <button class="btn" (click)="userSearch(1)">查询</button>
        <button class="btn" (click)="reset()">重置</button>
        <button class="btn btn-success">新增</button> <!-- *ngIf="addUserZone" (click)="addUser()" -->
    </div>

</div>
<hr>
<div class="row" style="margin-top:30px;">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>序号</th>
                            <th>用户名</th>
                            <th>用户姓名</th>
                            <th>用户角色</th>
                            <th>注册日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="resultPage.data=='loading'">
                        <tr class="text-center">
                            <td colspan=4>数据获取中...</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="resultPage.data==null||resultPage.data==''||resultPage.data.length==0">
                        <tr class="text-center">
                            <td colspan=4>无数据</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="resultPage.data!='loading'&&resultPage.data!=null&&resultPage.data!=''&&resultPage.data.length!=0">
                        <tr *ngFor="let eachData of resultPage.data;let xh=index" class="text-center">
                            <td>{{(xh+1)+(resultPage.currentPage-1)*resultPage.pageSize}}</td>
                            <td>{{eachData.userName}}</td>
                            <td>{{eachData.personName}}</td>
                            <td *ngIf="eachData.roleName==null||eachData.roleName==''"><span style="color:red">未分配角色</span></td>
                            <td *ngIf="eachData.roleName!=null&&eachData.roleName!=''">{{eachData.roleName}}</td>
                            <td>{{eachData.createDate}}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="deleteUser(eachData.userId,content)">删除用户</button>
                                <button class="btn btn-sm btn-warning">修改用户</button>
                                <button class="btn btn-sm btn-info">用户详情</button>
                                <button class="btn btn-sm btn-primary">角色分配</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="resultPage.data!='loading'&&resultPage.data!=null&&resultPage.data!=''&&resultPage.data.length!=0">
                <div style="float:right;padding:0px 1em 1ex 0em;">
                    <span><a *ngIf="resultPage.currentPage>1" (click)="userSearch(1)" class="btn btn-info">首页</a></span>
                    <span><a *ngIf="resultPage.currentPage>1" (click)="userSearch(resultPage.currentPage-1)" class="btn btn-info">上一页</a></span>
                    <span *ngFor="let eachPage of resultPage.pageList"> <a (click)="userSearch(eachPage)" class="btn btn-info" [ngClass]="{'active':(resultPage.currentPage==eachPage)}">{{eachPage}}</a></span>
                    <span><a *ngIf="resultPage.totalPage>resultPage.currentPage" (click)="userSearch(resultPage.currentPage+1)" class="btn btn-info">下一页</a></span>
                    <span><a *ngIf="resultPage.totalPage>resultPage.currentPage" (click)="userSearch(resultPage.totalPage)" class="btn btn-info">末页</a></span>
                    <span *ngIf="resultPage.totalPage>=resultPage.currentPage">&nbsp;当前第{{resultPage.currentPage}}/{{resultPage.totalPage}}页，共{{resultPage.totalSize}}条</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal对话框组件 -->
<ng-template #content let-c1="dismiss" let-c2="close">
    <div class="modal-header">
        <h4 class="modal-title">删除用户</h4>
        <button type="button" class="close" aria-label="Close" (click)="c1('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>您确定要删除该用户吗？</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c2(true)">确定</button>
        <button type="button" class="btn btn-secondary" (click)="c2(false)">取消</button>
    </div>
</ng-template>

<!--
<button *ngIf="deleteUserZone" class="btn btn-sm btn-danger">删除用户</button>
<button *ngIf="modifyUserZone" (click)="modifyUser(eachData.userId)" class="btn btn-sm btn-warning">修改用户</button>
<button *ngIf="detailUserZone" class="btn btn-sm btn-info">用户详情</button>
<button class="btn btn-sm btn-primary">用户角色分配</button>
-->
