<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.javaweb.dao.rbac.UserDao">

	<insert id="createUser" parameterType="com.javaweb.dataobject.po.User">
		insert into user(userid,username,password,personname,email,phone,portrait,
		parentid,fcode,level,remark,status,create_date,creator,update_date,updater,del_flag)
		values(#{userId},#{userName},#{password},#{personName},#{email},#{phone},#{portrait},
		#{parentId},#{fcode},${level},#{remark},${status},#{createDate},#{creator},null,null,${delFlag})
	</insert>
	
	<select id="getUserByUserId" parameterType="java.lang.String" resultType="com.javaweb.dataobject.po.User">
		select userid as userId,username as userName,password,personname as personName,email,phone,portrait,
		parentid as parentId,fcode,level,remark,status,create_date as createDate,creator,update_date as updateDate,
		updater,del_flag as delFlag from user where userid = #{_parameter} and del_flag = 0
	</select>
	
	<select id="getUserByUserName" parameterType="java.lang.String" resultType="com.javaweb.dataobject.po.User">
		select userid as userId,username as userName,password,personname as personName,email,phone,portrait,
		parentid as parentId,fcode,level,remark,status,create_date as createDate,creator,update_date as updateDate,
		updater,del_flag as delFlag from user where username = #{_parameter} and del_flag = 0 limit 1
	</select>
	
</mapper>
